<a (click)="logout()" style="float:right; padding-right: 20px; text-decoration: underline; cursor: pointer;">Fazer logout</a>
<div class="row">
  <div class="column">
    <div class="principal">
      <form ngNativeValidate>
        <div class="field flex">
          <label class="label">Mensagem ✏️</label>
          <textarea
            [(ngModel)]="message"
            rows="8"
            cols="50"
            name="username"
            id="username"
            maxlength="500"
            style="resize: none"
            placeholder="Escreva sua mensagem aqui..."
          ></textarea>
        </div>
        <div class="field">
          <input
            (click)="add()"
            horizontalgap
            name="submit"
            id="submit"
            type="submit"
            value="Enviar"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="column">
    <div *ngFor="let m of listMessages" class="cards">
      <div class="card">
        <div class="container">
          <h4>
            <b> 📅 {{ m.date }}</b>
          </h4>
          <textarea rows="10" cols="50" disabled maxlength="500">{{
            m.text
          }}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>


