<div class="split left">
  <div class="principal">
    <form ngNativeValidate>
      <h2>Login</h2>
      <div  class="field flex">
        <label  class="label">Username</label>
        <input
          [(ngModel)] = "username"
          name="username"
          id="username"
          type="text"
          placeholder="Seu username"
          class="input"
        />
      </div>
      <div  class="field flex">
        <label  class="label">Senha</label>
        <input
          [(ngModel)] = "password"
          name="senha"
          id="senha"
          type="password"
          placeholder="Sua senha"
          class="input"
        />
      </div>
      <div  class="field">
        <input (click)="login()" horizontalgap class="login" name="submit" id="submit" type="submit" value="Login" />
      </div>
    </form>
  </div>
</div>

<div class="split right">
  <div class="principal">
    <form ngNativeValidate>
      <h2>Cadastro</h2>
      <div  class="field flex">
        <label  class="label">Nome</label>
        <input
          [(ngModel)] = "user.name"
          name="name"
          id="name"
          type="text"
          placeholder="Seu nome"
          class="input"
        />
      </div>
      <div  class="field flex">
        <label  class="label">Email/Username</label>
        <input
          [(ngModel)] = "user.email"
          name="username"
          id="username"
          type="email"
          placeholder="Seu email"
          class="input"
        />
      </div>
      <div  class="field flex">
        <label  class="label">Senha</label>
        <input
          [(ngModel)] = "user.password"
          name="senha"
          id="senha"
          type="password"
          placeholder="Sua senha"
          class="input"
        />
      </div>
      <div  class="field">
        <input (click)="add()" horizontalgap class="cadastrar" name="submit" id="submit" type="submit" value="Cadastrar" />
      </div>
    </form>
  </div>
</div>
